#brand {
	color: inherit !important;
	text-decoration: none !important;
}

.text-muted a {
	color: #818a91;
}

.mv {
	margin-top: 1em;
	margin-bottom: 1em;
}

.jumbotron {
	background-color: #375eab;
	text-align: center;
	color: white;
	padding: 2rem 2rem !important;
}

.g-recaptcha {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}