{{define "content"}}
	<div class="podcasts">
		<table id="podcasts" class="table table-responsive">
			<thead>
				<tr>
					<th>Title</th>
					<th>Show</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				{{range .Podcasts}}
				<tr>
					<td><a href="{{.URL}}">{{.Title}}</a></td>
					<td>{{.Show}}</td>
					<td>{{.DateFormatted}}</td>
				</tr>
				{{end}}
			</tbody>
		</table>
	</div>
	<div id="submit">
		<p class="text-center">
			<span>Missing an episode? Submit it <a href="/submit">here</a></span>
			<br>
			<span>Looking for videos? Check out <a href="https://gophervids.appspot.com">GopherVids</a></span>
			<br>
			<span>GopherPods on <a href="https://github.com/rojters/gopherpods">GitHub</a></span>
		</p>
	</div>
{{end}}