{{define "content"}}
	<div class="mv">
		{{range .Podcasts}}
				<div class="card mv">
					<div class="card-block">
						<h4 class="card-title">{{.Title}}</h4>
						<h6 class="card-subtitle text-muted">{{.Show}}</h6>
					</div>
					<div class="card-block">
						<p class="card-text">{{.Desc}}</p>
						<a href="{{.URL}}" class="card-link">{{.URL}}</a>
					</div>
					<div class="card-footer">
						<small class="text-muted">{{.DateFormatted}}</small>
					</div>
				</div>
		{{end}}
	</div>
	<div class="mv">
		<p class="text-center">
			<span>Missing an episode? Submit it <a href="/submit">here</a></span>
			<br>
			<span>Looking for videos? Check out <a href="https://gophervids.appspot.com">GopherVids</a></span>
			<br>
			<span>GopherPods on <a href="https://github.com/rojters/gopherpods">GitHub</a></span>
		</p>
	</div>
	<div class="mv">
		<p class="text-center">
			<a href='https://cloud.feedly.com/#subscription%2Ffeed%2Fhttps%3A%2F%2Fgopherpods.appspot.com%2Ffeed'  target='blank'><img id='feedlyFollow' src='https://s3.feedly.com/img/follows/feedly-follow-rectangle-flat-small_2x.png' alt='follow us in feedly' width='66' height='20'></a>
		</p>
	</div>
{{end}}