{{define "content"}}
<div class="card card-block">
	<h3 class="card-title">Submissions</h3>
	<p class="card-text">Manage submitted podcast episode and add them to the front page list.</p>
</div>
{{range .Submissions}}
<div class="card card-block">
	<p class="card-text">Submitted {{.Submitted}}</p>
	<form class="form" action="/submissions/add" method="POST">
		<div class="form-group">
			<label>Link to show</label>
			<input type="text" class="form-control" name="url" value="{{.URL}}" required>
		</div>
		<div class="form-group">
			<label>Podcast name</label>
			<input type="text" class="form-control" name="show" required>
		</div>
		<div class="form-group">
			<label>Epsiode title</label>
			<input type="text" class="form-control" name="title" required>
		</div>
		<div class="form-group">
			<label>Date published</label>
			<input type="date" class="form-control" name="date" required>
		</div>
		<div class="form-group">
			<label>Show notes</label>
			<textarea class="form-control" rows="3" name="desc"></textarea>
		</div>
		<input type="hidden" name="key" value="{{.Key}}">
		<div class="form-group">
			<button type="reset" class="btn btn-default">Reset</button>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
	<form class="form" action="/submissions/del" method="POST">
		<input type="hidden" name="key" value="{{.Key}}">
		<div class="form-group">
			<button type="submit" class="btn btn-danger">Delete</button>
		</div>
	</form>
</div>
{{end}}
{{end}}