{{define "content"}}
<div class="mt">
	<h3>Submissions</h3>
	<p>Manage submitted podcast episode and add them to the front page list.</p>
</div>
{{range .Submissions}}
<hr>
<div class="mv">
	<p>Submitted {{.Submitted}}</p>
	<form action="/submissions/add" method="POST">
		<div>
			<label>Link to show</label>
			<input type="text" name="url" value="{{.URL}}" required>
		</div>
		<div>
			<label>Podcast name</label>
			<input type="text" name="show" required>
		</div>
		<div>
			<label>Epsiode title</label>
			<input type="text" name="title" required>
		</div>
		<div>
			<label>Date published</label>
			<input type="date" name="date" required>
		</div>
		<div>
			<label>Show notes</label>
			<textarea rows="3" name="desc"></textarea>
		</div>
		<input type="hidden" name="key" value="{{.Key}}">
		<div>
			<button type="reset">Reset</button>
			<button type="submit">Submit</button>
		</div>
	</form>
	<form class="form" action="/submissions/del" method="POST">
		<input type="hidden" name="key" value="{{.Key}}">
		<input type="submit" value="Delete"/>
	</form>
</div>
{{end}}
{{end}}